pandas 
numpy
matplotlib
seaborn
scikit-learn
xgboost
shap
sentence-transformers
langgraph 
langchain
langchain-core 
langchain-community 
langchain-groq 
chromadb 
duckduckgo-search 
edge-tts
gtts
groq
langchain-chroma
ddgs